/* all pages */
body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    line-height: 1.5;
    background-image: url("./images/whitetexture.jpeg");
}

.navbar {
    background-color:rgba(48, 194, 133, 0.3);
}

.navbar .navbar-brand {
    color: rgb(70, 69, 69);
    font-weight: 500;
}

.nav-link:hover {
    color: rgb(14, 170, 105);
}

.nav-link {
    color: rgb(85, 85, 85);
    margin: 0 0.7rem;
}




/* for index.html */
.header {
    color: rgb(48, 194, 133);
    margin: 2rem;
}
.about-me {
    display: inline-flex;
}
.profile-pic1 {
    border: rgb(85, 85, 85) 0.25rem solid;
    float: left;
    margin: 0 2rem 2rem 2rem;
}

.profile-pic2 {
    display: none;
}

.about-me-text {
    width: auto;
    float: left;
    position: relative;
    top: 10rem;
}



/* for content.html */
/* header2 does all headers outside of homepage */
.header2 {
    color: rgb(48, 194, 133);
    margin-top: 2rem;
}

.other-contacts{
    text-align: center;
    margin-top: 3rem;
    color: rgb(85, 85, 85);
}

.contact-image {
    width: 5rem;
    height: 5rem;
    padding: 10px;
    margin: 2rem 0.7rem;
    cursor: pointer;
}

.linkedin {
    margin-left: 20px;
}



/* for portfolio.html */
.portfolio-image {
    margin: 2rem 2rem 2rem 7rem;
    text-align: center;
}



/* MEDIA QUERIES */

@media screen and (max-width: 992px) {

/* fix navbar stacking if possible */
    .about-me-text {
        width: auto;
        flex: wrap;
        top: 5rem;
    }

    .navbar {
        flex-wrap: nowrap;
        width: auto;
    }

    .navbar-nav {
        height: auto;
    }

@media screen and (max-width: 768px) {

 /* fix navbar stacking if possible */
    .about-me {
        display: block;
    }

    .profile-pic1 {
        margin-left: 7rem;
        margin-bottom: 0;
    }

    .about-me-text {
        margin-left: 2rem;
        top: 2rem;
    }
}

@media screen and (max-width: 400px) {

 /* fix navbar stacking if possible */
    .navbar {
        width: 100%;
        height: auto;
    }   

    .profile-pic1 {
        display: none;
    }
    
    .profile-pic2 {
        display: show;
        display: block;
    }

    .about-me-text {
        margin-bottom: 2rem;
        top: 0;
    }

    .findme {
        font-size: 1rem;
    }

    .contact-image {
        width: 3rem;
        height: 3rem;
    }

    .portfolio-image {
        margin: 1rem;
    }
}