/* all pages */
body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    line-height: 1.5;
    background-image: url("./images/background-white-elegant-texture.jpg");
}

.navbar .navbar-brand {
    color: rgba(0, 0, 0, 1);
    font-weight: 500;
}

/* cant get hover to work :( */
a .nav-link:hover {
    color: rgb(48, 194, 133);
}

.navbar {
    background-color:rgba(48, 194, 133, 0.3);
}


.nav-link {
    color: rgb(85, 85, 85)
}



/* for index.html */
.header {
    color: rgb(48, 194, 133);
    margin-top: 2rem;
}

.profile-pic {
    border: rgb(85, 85, 85) 0.25rem solid;
}



/* for content.html */
.about-me-content {
    position: relative;
    top: 6.5rem;
    margin-left: 2rem;
}

/* header2 does all headers outside of homepage */
.header2 {
    color: rgb(48, 194, 133);
    margin-top: 2rem;
}



/* for portfolio.html */
.portfolio-images {
    margin: 2rem;
    text-align: center;
}



/* MEDIA QUERIES */

@media screen and (max-width: 992px) {
    /* make the nav bar a collapsed menu, change postion of text--it overlaps 
    the photo; resize the photo  */
}

@media screen and (max-width: 768px) {
    /* make the nav bar a collapsed menu, change postion of text--it overlaps 
    the photo; resize the photo  */
}

@media screen and (max-width: 400px) {
    /* make the nav bar a collapsed menu, change spacing between text and image, 
    make the text center aligned or something; it looks weird; resize the photo */
}


