body {
    font-family: 'Montserrat', sans-serif;
}

.header {
    color: rgb(48, 194, 133);
    margin: 20px;
}

.header2 {
    color: rgb(48, 194, 133);
    margin-top: 20px;
}

.navbar .navbar-brand {
    color: rgb(48, 194, 133);
    font-weight: 500;
}
/* cant get hover to work :( */
a .nav-link:hover {
    color: rgb(48, 194, 133);
}

.profile-pic {
    margin: 20px;
}
