/* all pages */
body {
    font-family: 'Spartan', sans-serif !important;
    font-weight: 200;
    line-height: 2;
    background-image: url("./assets/images/abstract-black-background.jpg");
    background-repeat: no-repeat;
    background-color: rgb(2, 2, 2);
    background-size: auto;
    letter-spacing: 0.12rem;
    margin: 50px 0;
}

.container {
    display: flex;
    justify-content: space-evenly;
}

.brand {
    color: rgb(193, 193, 193);
    font-size: 24px;
    font-weight: 500;
    margin-top: 4rem;
    padding-bottom: 2rem;
}

.email-and-phone {
    color: whitesmoke;
    line-height: 3;
    margin-left: 5px;
}

.nav-link {
    color: rgb(193, 193, 193);
    margin-left: 1.5rem;
    line-height: 8;
    font-size: 18px;
}

.nav-link:hover, 
.brand:hover {
    color: whitesmoke;
    text-decoration: none;
    font-weight: 400;
}






/* for index.html */
.profile-pic {
    height: auto;
    width: 60%;
    margin-left: 8rem;
}

.about-me-text {
    color: whitesmoke;
    margin: 3rem;
    text-align: center;
}






/* for resume.html */
.resume {
    width: 75%;
    margin-left: 4rem;
}

#titles {
    text-align: center;
}

.resume-section {
    color: rgb(193, 193, 193);
    display: inline;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    background-color: rgba(193, 193, 193, 0.322);
    border-radius: 20px;
    height: auto;
    width: auto;
    display: inline-block;
    margin: 8rem 2.5rem 0 0;
    padding: 0.5rem 2rem;
}

.resume-section:hover {
    color: whitesmoke;
    background-color: rgba(193, 193, 193, 0.521);
    border-radius: 20px;
    height: auto;
    width: auto;
}

#skills {
    margin-left: 2.5rem;
}

#white-box {
    text-align: center;
    vertical-align: middle;
    margin: 3rem;
    background-color: rgba(193, 193, 193, 0.521);
    border-radius: 20px;
    height: auto;
    width: auto;
}

li {
    list-style: none;
    padding: 1rem;
}

.populate-info {
    color: whitesmoke;
}








/* for portfolio.html */
.header {
    color: rgb(193, 193, 193);
    text-align: center;
}

#instructions {
    color: rgb(151, 148, 148);    
}

.port-nav {
    margin-left: 7rem;
}

#port-cont {
    width: 30%;
}

.project-display {
    /* margin-left: 6rem; */
    margin: 0 auto;
    width: 65%;
}

.portfolio-image {
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 650px;
    height: auto;
    filter: grayscale(100%);
}

.portfolio-image:hover {
    filter: none;
}

.repo-link {
    color: rgb(151, 148, 148);    
    text-align: center;
    margin: 0;
    padding: 0;
}

.repo-link:hover {
    color: whitesmoke;
    text-decoration: none;
}




/* for contact.html */
.header2 {
    color: rgb(193, 193, 193);
    text-align: center;
    margin-top: 1.5rem
}

.form {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    visibility: hidden;
}

label {
    color: rgb(193, 193, 193);
}

.form-control {
    background-color: rgba(33, 33, 33, 0.559);
    
}

input.form-control:focus {
    background-color:rgba(33, 33, 33, 0.559);
    color: whitesmoke;
    border-color: whitesmoke !important;
    box-shadow: whitesmoke !important;
    box-shadow: none;
   -webkit-box-shadow: none;
   -moz-box-shadow: none;
   transition: none;
   -webkit-transition: none;
  }

#search-button {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border: none;
    color: black;
    background-color: whitesmoke;
    border-radius: 0.7rem;
}

.contact {
    color: rgb(113, 113, 113);
    text-align: center;
    margin-top: 7rem;
    margin-right: 1rem;
}

.email-icon {
    width: 50%;
    cursor: pointer;
    margin-left: 4rem;
    position: absolute;
    top: 8rem;
}

.message-icon {
    width: 50%;
    cursor: pointer;
    margin-left: 4rem;
    position: absolute;
    top: 9rem;
}

.download-or-visit{ 
    text-align: center;
    color: rgb(193, 193, 193);
}

.find-me {
    color: rgb(113, 113, 113);
    bottom: 0;
    float: left;
    text-align: center;
    margin: 0;
}

.find-me:hover {
    text-decoration: none;
}

.download-resume {
    width: 10%;
    filter: grayscale(50%);
}

.download {
    padding-left: 0.5rem;
}

.social {
    float: right;
    padding-right: 4rem;
}

.contact-image:hover {
    text-decoration: none;
}

.contact-image {
    background-color: rgb(193, 193, 193);
    border-radius: 0.7rem;
    width: 3.5rem;
    height: 3.5rem;
    cursor: pointer;
    display: inline;
}

#footer {
    position: absolute;
    bottom: 5%;
    width: 100%;
}







/* MEDIA QUERIES */

@media screen and (max-width: 1199px) {

    .portfolio-image {
        width: 75%;
        margin-left: 7rem;
    }

     .email-icon {
        margin-left: 2.5rem;
    }

    #email-me {
        margin-right: 5rem;
    }

    #message-me {
        margin-left: 3rem;
    }

}

@media screen and (max-width: 1024px) {

    .email-icon {
        margin-left: 1rem;
    }

}

@media screen and (max-width: 992px) {


    .email-icon {
        margin-left: 0.3rem;
    }

}

@media screen and (max-width: 768px) {


    .email-icon, 
    .message-icon {
        padding-top: 2rem;
        width: 60%;
    }

    #email-me {
        margin-right: 2.5rem;
    }

    #message-me {
        margin-left: 4.5rem;
        margin-right: 0;
        margin-top: 6rem;
    }

}

@media screen and (max-width: 575px) {

    #white-box {
        margin-top: 1.5rem;
    }

    #skills {
        margin-top: 2rem;
        margin-left: 1.5rem;
    }   

    #experience, 
    #education {
        margin-top: 1rem;
        margin-left: 1.5rem;
    }   

    #footer {
        top: 100%;
    }

    .download {
        margin-left: 7rem;
    }

    .social {
        margin-top: 1rem;
        margin-right: 4rem;
    }

    .email-icon, 
    .message-icon {
        width: 40%;
    }

    .message-icon {
        padding-top: 10rem;
        margin-left: 9rem;
    }

    #email-me {
        margin-right: 2rem;
    }

    #message-me {
        padding-top: 10rem;
        margin-left: 0;
        margin-right: 0;
        margin-top: 6rem;
    }

}

@media screen and (max-width: 540px) {
    .nav-link {
        padding-right: 1.5rem;
    }

    .header {
        margin-top: 6.5rem;
    }

    .message-icon {
        padding-top: 10rem;
        margin-left: 9.5rem;
    }

    .email-icon {
        left: 10rem;
    }

    .download {
        margin-left: 5rem;
    }
}


@media screen and (max-width: 414px) {

    .nav-link {
        padding-right: 1.5rem;
    }

    #footer {
        top: 100%;
    }

    .social {
        margin-top: 1rem;
        margin-left: 7rem;
    }

    .download {
        margin-left: 0.7rem;
    }

    .contact-image {
        margin: 1rem 0;
    }

    #email-me {
        margin-right: 0.8rem;
    }

    .message-icon {
        padding-top: 10rem;
        margin-left: 7.5rem;
    }

    .email-icon {
        left: 8rem;
    }
}
 


@media screen and (max-width: 375px) {

    .email-icon {
        left: 23%;
    }

    .name-links {
        padding: 0 0.5rem;
    }

    .download {
        margin-left: -1rem;
    }

    .social {
        margin-left: 5.5rem;
        padding-right: 3rem;
    }

    .contact-image {
        margin: 1rem 0;
    }

    #email-me {
        margin-left: 1.5em;
    }

    #message-me {
        margin-left: 1rem;
    }

    .email-icon {
        left: 7.5rem;
    }

    .message-icon {
        margin-left: 6.5rem;
    }

}

@media screen and (max-width: 360px) {

    .download {
        margin-left: 1rem;
        padding-top: 16rem;
    }

    .social {
        margin-left: 6.5rem;
        padding-right: 1rem;
    }

}


@media screen and (max-width: 320px) {

    .social {
        margin-left: 5rem;
        padding-right: 0;
    }

    #email-me {
        margin-left: 0.5em;
    }

    #message-me {
        margin-left: 0;
    }

    .email-icon {
        left: 6.5rem;
    }

    .message-icon {
        margin-left: 5.5rem;
    }
}

