/* all pages */
body {
    font-family: 'Spartan', sans-serif !important;
    font-weight: 200;
    line-height: 1.5;
    background-image: url("./assets/images/abstract-black-background.jpg");
    background-repeat: no-repeat;
    background-color: rgb(2, 2, 2);
    background-size: auto;
    letter-spacing: 0.12rem;
}

.navbar-expand-lg {
    margin-top: 1.5rem;
}

.all-pages {
    float: right;
    position: absolute;
    top: 0;
    right: 0;
}

.nav-link {
    color: rgb(193, 193, 193);
    font-size: 14px;
    padding: 0.3rem 1rem;
}

.nav-link:hover, 
.brand:hover {
    color: whitesmoke;
    text-decoration: none;
    font-weight: 400;
}

.brand {
    color: rgb(193, 193, 193);
    font-size: 24px;
    font-weight: 500;
    margin-left: 1rem;
 
}

#contact {
    margin-right: 1.5rem;
}

.email-and-phone {
    color: whitesmoke;
    /* margin: 1rem 0 0 3rem; */
    position: absolute;
    left: 3rem;
    top: 3rem;
}





/* for index.html */
.header {
    color: rgb(193, 193, 193);
    text-align: center;
    margin-top: 1.5rem;
}
.profile-pic {
    height: auto;
    margin: 2rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
    width: 50%
}

.about-me-text {
    color: whitesmoke;
    margin: 1.5rem auto 5rem;
    text-align: center;
}






/* for resume.html */
.resume-section {
    color: rgb(193, 193, 193);
    margin-top: 8rem;
    font-size: 24px;
}

.resume-section:hover {
    color: whitesmoke;
}

#experience {
    margin-left: 1.4rem;
}

#black-box {
    text-align: center;
    vertical-align: middle;
    margin-top: 3rem;
}

li {
    list-style: none;
    padding: 1rem;
}

.populate-info {
    color: whitesmoke;
}

.download-or-visit{ 
    text-align: center;
    color: rgb(193, 193, 193);
}

.find-me {
    color: rgb(113, 113, 113);
    bottom: 0;
    float: left;
    text-align: center;
    margin: 0;
}

.find-me:hover {
    text-decoration: none;
}

.download-resume {
    width: 10%;
    filter: grayscale(50%);
}

.download {
    padding-left: 0.5rem;
}

.social {
    float: right;
    padding-right: 4rem;
}

.contact-image:hover {
    text-decoration: none;
}

.contact-image {
    background-color: rgb(193, 193, 193);
    border-radius: 0.7rem;
    width: 3.5rem;
    height: 3.5rem;
    cursor: pointer;
    display: inline;
}

#footer {
    position: absolute;
    bottom: 5%;
    width: 100%;
}






/* for portfolio.html */
#instructions {
    color: rgb(120, 120, 120);
    text-align: center;
}


.flex {
    display: flex;
}

.portfolio-image {
    margin-top: 2rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
    display: block;
    filter: grayscale(100%);
}

.portfolio-image:hover {
    filter: none;
}

.repo-link {
    color: rgb(120, 120, 120);
    text-align: center;
    margin: 0;
    padding: 0;
}

.repo-link:hover {
    color: whitesmoke;
    text-decoration: none;
}

.low-row {
    margin-bottom: 5rem;
}





/* for contact.html */
.header2 {
    color: rgb(193, 193, 193);
    text-align: center;
    margin-top: 1.5rem
}

.form {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    visibility: hidden;
}

label {
    color: rgb(193, 193, 193);
}

.form-control {
    background-color: rgba(33, 33, 33, 0.559);
    
}

input.form-control:focus {
    background-color:rgba(33, 33, 33, 0.559);
    color: whitesmoke;
    border-color: whitesmoke !important;
    box-shadow: whitesmoke !important;
    box-shadow: none;
   -webkit-box-shadow: none;
   -moz-box-shadow: none;
   -moz-transition: none;
   -webkit-transition: none;
  }

#search-button {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border: none;
    color: black;
    background-color: whitesmoke;
    border-radius: 0.7rem;
}

.contact {
    color: rgb(113, 113, 113);
    text-align: center;
    margin-top: 7rem;
    margin-right: 1rem;
}

.email-icon {
    width: 50%;
    cursor: pointer;
    margin-left: 4rem;
    position: absolute;
    top: 8rem;
}

.message-icon {
    width: 50%;
    cursor: pointer;
    margin-left: 4rem;
    position: absolute;
    top: 9rem;
}







/* MEDIA QUERIES */

@media screen and (max-width: 1199px) {

    .portfolio-image {
        width: 75%;
        margin-left: 7rem;
     }
 
     .low-row {
         margin-bottom: 2rem;
     }

     .email-icon {
        margin-left: 2.5rem;
     }

}

@media screen and (max-width: 1024px) {

  .portfolio-image {
       width: 75%;
       margin-left: 5rem;
    }

    .low-row {
        margin-bottom: 2rem;
    }

    .email-icon {
        margin-left: 1rem;
     }

}

@media screen and (max-width: 992px) {

    .low-row {
        margin-bottom: 2rem;
    }

    .email-icon {
        margin-left: 0.3rem;
     }

}

@media screen and (max-width: 768px) {

    .portfolio-image {
        margin-left: 6rem;
    }

    .email-icon {
        margin-left: -2rem;
     }

}

@media screen and (max-width: 540px) {

    .portfolio-image {
        width: 90%;
        margin-left: 2rem;
    }

    .email-icon {
        left: 29%;
     }

}


@media screen and (max-width: 414px) {
    
    .portfolio-image {
        width: 90%;
        margin-left: 1rem;
    }

    .email-icon {
        left: 25%;
     }
 
} 

@media screen and (max-width: 375px) {


    .email-icon {
        left: 23%;
     }

     .name-links {
        padding: 0 0.5rem;
     }

}